<%= render "shared/header" %>

<div class="travel-show">
  <div class="travel-box">
    <p>旅行名: <%= @trip.travel_name %></p>
    <p>出発日: <%= @trip.start_date %> ～ 終了日: <%= @trip.end_date %></p>

  <% @schedules.each do |schedule| %>
    <div class="schedule">
      <h2>日程: <%= schedule.date %></h2>
    </div>

    <% if schedule.activities.exists? %>
      <% schedule.activities.each do |activity| %>
        <div class="activity">
          <p>開始時間: <%= activity.start_time %></p>
          <p>終了時間: <%= activity.end_time %></p>
          <p>場所: <%= activity.location %></p>
          <p>やること: <%= activity.description %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
  </div>

  <div class="action-buttons">
    <%= link_to '戻る', request.referrer, class: "back-btn"  %>
    <%= link_to "編集する", edit_travel_path(@trip), class: "travel-red-btn" %>
    <%= link_to "削除", travel_path(@trip), data: { turbo_method: :delete }, class: "travel-destroy" %>
  </div>
</div>