<%= render "shared/header" %>


  <h1 class="top-title">広島県</h1>
  <div class="main-body">
    <div class="left-body">
      <div class="post-top-title">旅行情報</div>
      <% @posts.each do |post| %>
        <%= link_to post_path(post) do %>
        <div class="post">
          <div class="post-top">
              <div class='post-img-content'>
                <% if post.image.present? %>
                  <%= image_tag post.image, class: "post-img" %>
                <% else %>
                  <%= image_tag'sample.png', class: "post-img" %>
                <% end %>
              </div>
            <div class="post-content">
              <div class="post-content-main">
                <div class="post-content-top">
                  <div class="post-content-sub">
                    <div class="post-status"><%= Status.find(post.status_id).name %></div>
                    <div class="post-score">おすすめ度：<%= Score.find(post.score_id).name %></div>
                  </div>
                  <div class="post-category">/<%= Category.find(post.category_id).name %></div>
                </div>
                <div class="post-title"><%= post.title %></div>
              </div>
            </div>
          </div>
          <div class="post-content-info">
            <div class="post-body"><%= post.body %></div>
            <div class="post-content-info-sub">
              <div class="post-user-nickname">作成者:<%= post.user.nickname %></div>
              <div class="post-created-at"><%= post.created_at %></div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="right-body">
        aitia
    </div>
  </div>
  <%= link_to(new_post_path, class: 'plan-btn') do %>
    <span class='plan-btn-text'>旅のしおり<br>投稿</span>
    <%= image_tag 'plan.png' , size: '185x50' ,class: "plan-btn-icon" %>
  <% end %>
  <%= link_to(new_post_path, class: 'new-btn') do %>
    <span class='new-btn-text'>旅行情報<br>投稿</span>
    <%= image_tag 'travel.png' , size: '185x50' ,class: "new-btn-icon" %>
  <% end %>

