<%= render "shared/header" %>

<div class="post-show">
  <div class="post-box">
    <div class="post-img-content">
      <% if @post.image.present? %>
        <%= image_tag post.image, class: "post-img" %>
        <% else %>
        <%= image_tag'sample.png', class: "post-img" %>
       <% end %>
    </div>
    <div class="post-box-title">    <%= @post.title %></div>
    <div class="post-box-body">     <%= @post.body %></div>
    <div class="post-box-status">   <%= Status.find(@post.status_id).name %></div>
    <div class="post-box-category"> <%= Category.find(@post.category_id).name %></div>
    <div class="post-box-score">    <%= Score.find(@post.score_id).name %></div>
    <%= link_to "/posts", class: "back-btn" do %>
      <div>戻る</div>
    <% end %>
  </div>
</div>